.wrapper {
  padding-block: 48px;
  background-color: var(--utrecht-page-header-background-color) !important;
}

.container {
  display: flex;
}

.content {
  flex: 1;
}

.content > * {
  color: var(--utrecht-page-header-color) !important;
}

.subtitle {
  font-style: italic;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.image {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}
