.container,
.dropDownList {
  --utrecht-unordered-list-item-padding-inline-start: 0;
  --utrecht-unordered-list-padding-inline-start: 0;
  --utrecht-unordered-list-item-margin-block-end: 0;
  --utrecht-unordered-list-item-margin-block-start: 0;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list > section {
  display: flex;
}

.list > section > *:hover > .dropDownList {
  display: block;
}

.list > section > *,
.dropDownList > * {
  position: relative;
  padding-inline: 14px !important;
  padding-block: 14px !important;
}

.list > section > *:hover,
.dropDownList > *:hover {
  cursor: pointer;
  text-decoration: underline;
}

.list > section > *::marker,
.dropDownList > *::marker {
  content: "" !important;
}

.dropDownList {
  left: 0;
  display: none;
  position: absolute;
  background-color: white;
  margin-block-start: 14px !important;
  max-height: 430px;
  overflow-y: scroll;
}
